<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484984269975-j6vk29801na29ic8j3bq7o58d4cl67ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484984269975-j6vk29801na29ic8j3bq7o58d4cl67ip</string>
	<key>API_KEY</key>
	<string>AIzaSyBFVFqRFflXdpbc9U0H8zr86M9iIk2V7oA</string>
	<key>GCM_SENDER_ID</key>
	<string>484984269975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.hackcbs.medscript</string>
	<key>PROJECT_ID</key>
	<string>medscript-47d32</string>
	<key>STORAGE_BUCKET</key>
	<string>medscript-47d32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484984269975:ios:8df8241c6a4bc9c4000dd2</string>
	<key>DATABASE_URL</key>
	<string>https://medscript-47d32.firebaseio.com</string>
</dict>
</plist>